@import url(standard.css);
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00B388;
    color: white;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background: #00B388;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.button:hover {
    background: #019774;
}

.download-button {
    background-color: #00B388;
}

.download-button:hover {
    background-color: #009774;
}

.delete-button {
    background-color: #C8102E;
}

.delete-button:hover {
    background-color: #aa0d27;
}

.exam-form input {
    padding: 10px;
    margin: 5px;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Modal Styling */
.modal-overlay {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    padding-top: 100px;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px black;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cancel-button {
    background-color: #C8102E;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: #a90e27;
}

.add-button {
    margin-bottom: 20px;
    background-color: #00B388;
}

.add-button:hover {
    background-color: #029673;
}

.checkin{
    background-color:  #F6BE00;
}
.checkin:hover{
    background-color:  #d6a503;
}
