@import url(standard.css);
/* Navbar Styling */
.navbar {
    background-color: #C8102E;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

/* Aligns UH Portal & Nav Links to the Left */
.nav-container {
    display: flex;
    align-items: center;
}

/* Logo Styling */
.nav-logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px; /* Space between logo and buttons */
}
.nav-logo-img {
    height: 40px; /* Adjust as needed */
    width: auto;
    display: block;
}

/* Navbar Button Styling */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 10px; /* Adjust space between buttons */
}

.nav-button {
    background-color: white;
    color: #C8102E;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* Logout button with red color */
.nav-button.logout {
    background-color: #ff4c4c;
    color: white;
}

.nav-button.logout:hover {
    background-color: #d43f3f;
}