{% extends "base.html" %}
{% load static %}

{% block title %}Enrolled Students{% endblock %}

{% block content %}

<div class="max-w-4xl mx-auto my-12 bg-white p-5 rounded-lg shadow flex flex-col justify-center items-center text-center">
    <h1 class="text-2xl font-bold text-gray-800 mb-4"> Students in your Courses</h1>
    
    
    <div x-data="{ search: '' }" class="overflow-x-auto w-full mb-6 mt-7 flex flex-col">
        <div class="w-full flex flex-row justify-between">
            <!-- Search by UID (alpineJS) -->
            <div class="relative w-full max-w-[40px]">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input 
                type="text" 
                x-model="search" 
                placeholder="Search by ID / Name..." 
                class="border border-gray-300 rounded px-3 py-2 pl-10 pr-4 w-64"/>
            </div>
            <h2 class="text-lg font-semibold mr-2 mt-4">Student Count: {{ students_count }}</h2>
        </div>
        <table id="student-table" class="w-full border-collapse">
            <thead>
                <tr>
                    <th class="bg-[#00B388] text-white py-1 px-2 border border-gray-300">#</th>

                    <!--NAME COLUMN HEADER-->
                    <th 
                        class="cursor-pointer bg-[#00B388] text-white py-1 px-4 border border-gray-300"
                        onclick="sortTableByColumn('student-table', 1)">
                            Name 
                            <svg class="sort-icon inline w-4 h-4 ml-1 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="asc-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                            <path class="desc-icon hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                    </th>

                    <!--STUDENT ID COLUMN HEADER-->
                    <th class="cursor-pointer bg-[#00B388] text-white py-1 px-1 border border-gray-300"
                        onclick="sortTableByColumn('student-table', 0)">
                        Student ID
                        <svg class="sort-icon inline w-4 h-4 ml-1 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path class="asc-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                        <path class="desc-icon hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                        </svg>
                    </th>

                    <!--EROLLED COURSES COLUMN HEADER-->
                    <th 
                        class="cursor-pointer bg-[#00B388] text-white py-1 px-4 border border-gray-300"
                        onclick="sortTableByColumn('student-table', 1)">
                            Courses 
                            <svg class="sort-icon inline w-4 h-4 ml-1 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path class="asc-icon" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                            <path class="desc-icon hidden" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                            </svg>
                    </th>

                    <!--ACTIONS COLUMN HEADER-->
                    <!-- <th class="bg-[#00B388] text-white py-1 px-0 border border-gray-300">Actions</th> -->
                </tr>
            </thead>
            <tbody>
                {% for student in students %}

                <tr 
                    x-show="search === '' || '{{ student.UID }} {{ student.student.fname }} {{ student.student.lname }}'.toLowerCase().includes(search.toLowerCase())" 
                    class="hover:bg-gray-50">
                    <td class="py-2 px-2 border border-gray-300 text-center">{{ forloop.counter }}</td>

                    <!-- Name -->
                    <td class="py-2 px-4 border border-gray-300 text-left">{{ student.student.lname }}, {{ student.student.fname }}</td>

                    <!-- UID -->
                    <td class="py-2 px-1 border border-gray-300 text-left">{{ student.UID }}</td>

                    <!-- Enrolled Courses -->
                    <td class="py-2 px-4 border border-gray-300 text-left">
                        {% for course in student.courses %}
                            {{ course }}<br>
                        {% endfor %}
                    </td>
                </tr>

                {% empty %}
                <tr>
                    <td colspan="4" class="py-4 px-4 text-gray-500 italic text-center border border-gray-300">
                        No students found.
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    
</div>  
{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/alpinejs" defer></script>
    <script src="{% static 'js/table-sort.js' %}"></script>
{% endblock %}