{% extends "base.html" %}
{% block title %}Forgot Password{% endblock title %}

{% block content %}
<div class="container mx-auto py-24 max-w-sm">
    <div class="space-y-4">
      <h2 class="text-2xl font-semibold text-center">Forgot Password</h2>
      <p class="text-sm text-gray-600 text-center">
        Enter your email and we’ll send you a link to reset your password.
      </p>
      <form method="post" class="space-y-4">
        {% csrf_token %}
        {{ form.email }}
        <button type="submit"
                class="w-full bg-red-600 hover:bg-red-700 text-white font-semibold py-2 rounded-full transition">
          Send Reset Link
        </button>
      </form>
    </div>

    <div class="text-center text-sm text-gray-500">
      <a href="{% url 'loginPage' %}" class="hover:underline">Back to log in</a>
    </div>

  </div>
</div>
{% endblock content %}
